body {
    font-family: Arial;
    font-size: 100%;
    margin: 0;
    background: #eee;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav.menu {
    background: #fff;
    margin-bottom: 25px;
    text-align: right;
    padding: 20px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #1e5f8d;
    display: block;
    padding: 10px;
}

.menu li a.active {
    color: #00a6eb;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

h1 {
    color: #00a6eb;
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.list {
    margin-bottom: 20px;
}

.list li {
    display: block;
}

.list li a{
    background: #00a6eb;
    color: #fff;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.form p {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-row:last-child {
    margin-bottom: 0;
}

.form-row input {
    height: 40px;
    line-height: 40px;
    flex: 1;
}

.form-row input[type="submit"] {
    background: #00a6eb;
    color: #fff;
    font-weight: bold;
}

.form-row input:not([type="submit"]) {
    padding: 0 10px;
    border: 1px solid #eee;
}

.form-row label {
    width: 30%;
    text-align: left;
    font-weight: bold;
}